* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: blanchedalmond;
}

h1 {
    color: dodgerblue;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: cornflowerblue;
}
legend {
    background-color: white;
    border: 2px grey solid;
}

.row {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.column {
    display: flex;
    flex-direction: column;
}

label {
    width: 14vw;
}

@media (min-width: 1200px) {
    label {
        width: 10vw;
    }
}

textarea {
    font-size: 1.2rem;
}

#sendBttn {
    width: 50px;
}