/*  
  Clonación de página web de venta de entradas musicales
  =========================================
  Asignatura: Lenguajes de Marca
  Ejercicio: Clonación de página web de venta de entradas musicales
  Autor: https://github.com/jousemarquez
 */


@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);

h1 {
    font-size: 3em;
    font-weight: 300;
    line-height: 1em;
    text-align: center;
    color: #4DC3FA;
}

h2 {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    display: block;
    line-height: 1em;
    padding-bottom: 2em;
    color: #FB667A;
}

h2 a {
    font-weight: 700;
    text-transform: uppercase;
    color: #FB667A;
    text-decoration: none;
    padding-top: -0.2em;
}

h3 {
    font-size: 1.5em;
    color: white;
}

body {
    background: #1D202B;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.contenedor {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
    gap: 20px;
}

p {
    font-size: 24px;
    vertical-align: bottom;
}

.contenedor-conciertos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

.card .textos {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    background-size: cover;
    background-position: center center;
}

.contenedor-banner ul {
    list-style: none;
}

.contenedor-banner ul li {
    margin: 15px;
    font-weight: bold;
}

.contenedor-banner .boton {
    background: #FFD600;
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

footer {
    margin-top: 20px;
    text-align: center;
}