/*  
  Calculadora
  =========================================
  Asignatura: Lenguajes de Marca
  Ejercicio: Crear una calculadora con HTML, CSS y Js
  Autor: https://github.com/jousemarquez
 */

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3em;
    font-weight: 300;
    line-height: 1em;
    text-align: center;
    color: #4DC3FA;
}

h2 {
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    display: block;
    line-height: 1em;
    color: #FB667A;
}

h2 a {
    font-weight: 700;
    text-transform: uppercase;
    color: #dbfb66;
    text-decoration: none;
    padding-top: -0.2em;
    cursor: url(../img/orc.gif), auto;
}

h3 {
    font-size: 1.4em;
    color: white;
}

header hgroup {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
    background-color: #14151b;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #727272;
    background-image: repeating-linear-gradient(-45deg, #6a6a6a 0, #6a6a6a 2px, #727272 2px, #727272 11px);
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    width: 100vw;
    max-height: 80vh;
    padding: 30px 30px;
}

/* CALCULADORA */

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FF3CAC;
    background-image: linear-gradient(343deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: #7150a3 solid 10px;
    margin: 0 1rem;
    width: auto;
    height: auto;
}

#ans {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 10vh;
    width: 270px;
    color: black;
    border: 1px solid black;
    background-color: white;
    font-size: 4rem;
    padding: 0.75rem;
    margin-top: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
    border: 1px solid black;
}

fieldset:not(fieldset:nth-child(1)) {
    border: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.75rem;
}

fieldset:nth-child(1) {
    justify-self: flex-start;
    border:none;
    padding: 0;
    margin:0;
    height: 23vh;
}

button {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    background-color: black;
    border: 1px solid grey;
    color:white;
}

button:hover {
    cursor:pointer;
    color:black;;
    background-color: white;
    border-color: black;
    transition: all 0.3s;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 10vh;
    background-color: #14151b;
    text-align: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
}

footer>p {
    color: white;
}

footer>a {
    color: #dbfb66;
    text-decoration: none;
}