*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
/* FUENTES */
h1 {
    font-size: 2em;
}

.blue {
    color: #0080c3;
}

h2 {
    font-size: 1.6em;
    text-align: center;
    margin-top: 40px;
}

h3 {
    font-size: 1.2em;
}

a {
    color: black;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

a:hover {
    color: black;
    transform: scale(1.1);
}

a:visited {
    color: black;
}

a:active {
    color: black;
}

a:focus {
    color: black;
}
/* HEADER */
header {
    width: 100vw;
    height: auto;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    padding-bottom: 20px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgba(128, 128, 128, 0.211);
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-type: none;
    margin-bottom: 0;
}
/* PORTADA */
.portada {
    height: 55vh;
    width: 100vw;
    object-fit: cover;
}

/* PRODUCTOS */

.container_full {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: start;
    padding: 10px 0px 10px 0px;
    width: 70vw;
    height: auto;
    margin: 0 auto;
}

.container_mitad {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: start;
    padding: 10px 0px 10px 0px;
    gap: 10px;
    width: 70vw;
    height: auto;
    margin: 0 auto;
}

.container_tercio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: start;
    padding: 10px 0px 10px 0px;
    gap: 10px;
    width: 70vw;
    height: auto;
    margin: 0 auto;
}

/* CARTA ANIMADA*/

/*CARD FULL*/

.card_full {
    margin: 0 auto;
    position: relative;
    width: auto;
    height: 220px;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}

.card_full .poster {
    position: relative;
    overflow: hidden;
    object-fit: cover;
}

.card_full .poster::before {
    content: '';
    position: absolute;
    bottom: -200px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #1064a55d 50%, transparent);
    transition: 0.5s;
    z-index: 1;
}

.card_full:hover .poster::before {
    bottom: 0;
}

.card_full .poster img {
    width: 100%;
    height: 90%;
    transition: 0.5s;
}

.card_full:hover .poster img {
    transform: translateY(-50px);
    filter: blur(5px);
}

.card_full .details {
    position: absolute;
    bottom: -200px;
    left: 0;
    padding: 20px;
    width: 100%;
    z-index: 2;
    transition: 0.8s;
}

.card_full:hover .details {
    bottom: 0px;
}

.card_full .details .precio {
    font-size: 1.2em;
    padding: 5px 5px;
    font-weight: bold;
}

.card_full .details .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;      
}

.card_full .details .button:hover {
    background: linear-gradient(0deg, #368039 50%, transparent);
    transition: 0.5s;
}

.card_full .details h3 {
    color: black;
    font-size: 1em;
}

.card_full .details .tags {
    position: relative;
    margin-top: 5px;
}

/* Button one adn two */
.card_full .details .tags span {
    background: #03a8f5;
    padding: 3px 5px 3px 5px;
    border-radius: 4px;
}

.card_full .details .tags span:nth-child(2) {
    background: #fb6132;
    padding: 3px 5px 3px 5px;
}

/* Info details */
.card_full .details .info {
    margin-top: 20px;
}

.card_full .details .info p {
    text-align: justify;
}

/*CARD MITAD*/

.card_mitad {
    margin: 0 auto;
    position: relative;
    width: auto;
    height: 220px;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}

.card_mitad .poster {
    position: relative;
    overflow: hidden;
    object-fit: cover;
}

.card_mitad .poster::before {
    content: '';
    position: absolute;
    bottom: -200px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #1064a55d 50%, transparent);
    transition: 0.5s;
    z-index: 1;
}

.card_mitad:hover .poster::before {
    bottom: 0;
}

.card_mitad .poster img {
    width: 100%;
    height: 90%;
    transition: 0.5s;
}

.card_mitad:hover .poster img {
    transform: translateY(-50px);
    filter: blur(5px);
}

.card_mitad .details {
    position: absolute;
    bottom: -200px;
    left: 0;
    padding: 20px;
    width: 100%;
    z-index: 2;
    transition: 0.8s;
}

.card_mitad:hover .details {
    bottom: 0px;
}

.card_mitad .details .precio {
    font-size: 1.2em;
    padding: 5px 5px;
    font-weight: bold;
}

.card_mitad .details .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;      
}

.card_mitad .details .button:hover {
    background: linear-gradient(0deg, #368039 50%, transparent);
    transition: 0.5s;
}

.card_mitad .details h3 {
    color: black;
    font-size: 1em;
}

.card_mitad .details .tags {
    position: relative;
    margin-top: 5px;
}

/* Button one adn two */
.card_mitad .details .tags span {
    background: #03a8f5;
    padding: 3px 5px 3px 5px;
    border-radius: 4px;
}

.card_mitad .details .tags span:nth-child(2) {
    background: #fb6132;
    padding: 3px 5px 3px 5px;
}

/* Info details */
.card_mitad .details .info {
    margin-top: 20px;
}

.card_mitad .details .info p {
    text-align: justify;
}
/*CARD TERCIO*/

.card_tercio {
    margin: 0 auto;
    position: relative;
    width: auto;
    height: 210px;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}

.card_tercio .poster {
    position: relative;
    overflow: hidden;
    object-fit: cover;
}

.card_tercio .poster::before {
    content: '';
    position: absolute;
    bottom: -200px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #1064a55d 50%, transparent);
    transition: 0.5s;
    z-index: 1;
}

.card_tercio:hover .poster::before {
    bottom: 0;
}

.card_tercio .poster img {
    width: 100%;
    height: 90%;
    transition: 0.5s;
}

.card_tercio:hover .poster img {
    transform: translateY(-50px);
    filter: blur(5px);
}

.card_tercio .details {
    position: absolute;
    bottom: -200px;
    left: 0;
    padding: 20px;
    width: 100%;
    z-index: 2;
    transition: 0.8s;
}

.card_tercio:hover .details {
    bottom: 0px;
}

.card_tercio .details .precio {
    font-size: 1.2em;
    padding: 5px 5px;
    font-weight: bold;
}

.card_tercio .details .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;      
}

.card_tercio .details .button:hover {
    background: linear-gradient(0deg, #368039 50%, transparent);
    transition: 0.5s;
}

.card_tercio .details h3 {
    color: black;
    font-size: 1em;
}

.card_tercio .details .tags {
    position: relative;
    margin-top: 5px;
}

/* Button one adn two */
.card_tercio .details .tags span {
    background: #03a8f5;
    padding: 3px 5px 3px 5px;
    border-radius: 4px;
}

.card_tercio .details .tags span:nth-child(2) {
    background: #fb6132;
    padding: 3px 5px 3px 5px;
}

/* Info details */
.card_tercio .details .info {
    margin-top: 20px;
}

.card_tercio .details .info p {
    text-align: justify;
}

/*MAIN*/

.container_productos {
    display: flex;
    max-width: 100vw;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 10vh;
}

.productos {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 60px;
}

.container_productos div p {
    text-align: center;
}

.panel {
    display: flex;
    flex-direction: row;
    max-height: 600px;
    background-color: #0080c3;
}

.panel img {
    width: 50vw;
    height: 100%;
    object-fit: cover;
}

.panel_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    padding-left: 10%;
}
.panel_texto h3 {
    font-size: 1.8em;
    color: white;
}
.panel_texto p {
    color: white;
    line-height: 1.6;
}


footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer_nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80vw;
    margin: 0 auto;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    margin-bottom: 20px;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    list-style-type: none;
    margin-bottom: 0;
}

footer li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.copyright {
    text-align: center;
}