* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
} 

header {
    width: 100vw;
    height: auto;
    background-color: blue;
}

hgroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
nav {
    width: 100vw;
    height: auto;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#mainBody {
    width: 100vw;
    height: auto;
    background-color: grey;
    display: flex;
    justify-content: space-between;
}
section.articles {
    width: 70vw;
    height: auto;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
aside {
    width: 28.85vw;
    height: 25vh;
    background-color: yellow;
    position: sticky;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

footer{
    width: 100vw;
    height: 20vh;
    background-color: purple;
    text-align: center;
    padding-top: 10vh;
}
p {
    font-size: 1.25em;
}