header {
    background-image: url("../img/fondoverde.jpg");
    background-size: cover;
    background-position: center center;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
}
body {
    background-image: url("../img/circulosverdes.png");
    background-position: left;
    background-image: url("../img/circulosverdes.png");
    background-position: right;
    padding: 0;
    margin: 0;
    background-color: rgb(162, 248, 123);
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.cards {
    display: flex;
    padding: 50px;
}
.card {
    background-color: white;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    box-shadow: 6px 6px 6px 6px black;
    border-radius: 15px 15px 15px 15px;
}
.card:hover {
    margin-right: 80px;
    transform: rotate(3deg) translateY(-15px);
}
card[class*="element"] {
    margin-left: -100px;
}
.element-1:hover,
.element-2:hover {
    margin-left: -130px;
}
.img {
    background: url("../img/fondoverde.jpg");
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    justify-content: space-around;
}
.texto {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4em;
    align-items: center;
    margin: auto;
    padding-top: 10px;

} 
.pokemonplanta {
    background-color: rgb(162, 248, 123);
    border: solid green;
    display: flex;
    justify-content: center;    
    align-items: center;
}
.bulbasaur__imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 5%;
    margin-top: 15%;

}
.card div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 100px;
}

.texto1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
lr {
    width: 100%;
    background-color: green;
}
.texto2{
    color: black;
}
.pkmn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    scale: 120%;
}
h6{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.caracteristicas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.poder{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.planta{
    width: 15px;
    height: 15px;
}
.resistencia{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.castillo{
    width: 15px;
    height: 15px;
}
.bonus{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between; 
}
.cofre{
    width: 15px;
    height: 15px;
}
footer {
    background-image: url("../img/fondoverde.jpg");
    background-size: cover;
    background-position: center center;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}