header {
    background-image: url("../img/fondoverde.jpg");
    background-size: cover;
    background-position: center center;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}
body {
    background-image: url("../img/circulosverdes.png");
    background-position: left;
    background-image: url("../img/circulosverdes.png");
    background-position: right;
    padding: 0;
    margin: 0;
    background-color: rgb(162, 248, 123);
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.card {
    background-color: white;
    width: 320px;
    height: 530px;
    border-radius: 10px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    box-shadow: 6px 6px 6px 6px black;
    border-radius: 15px 15px 15px 15px;
}
/*.card:hover {
    margin-right: 80px;
    transform: rotate(3deg) translateY(-15px);
}
card[class*="element"] {
    margin-left: -100px;
}
.element-1:hover,
.element-2:hover {
    margin-left: -130px;
}*/
.img {
    background: url("../img/fondoverde.jpg");
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    justify-content: space-around;
}
.texto {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4em;
    align-items: center;
    margin: auto;
    padding-top: 10px;

} 
.pokemonplanta {
    background-color: rgb(162, 248, 123);
    border-radius: 50%;
    border: solid green;
    display: flex;
    justify-content: center;    
    align-items: center;
}
.bulbasaur__imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 5%;
    margin-top: 15%;

}
.bulbasaur__imagenes div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bulbasaur__imagenes card img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.texto1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 2em;
}
.linea {
    width: 100%;
    height: 2px;
    background-color: green;
}
.texto2{
    color: black;
}
.pkmn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 80px;
}
.coleccionable {
    width: 100%;
}
.coleccionable h6{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.8em;
    font-weight: 100;
}
.caracteristicas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 40px;
}
.poder{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.planta{
    width: 30px;
    height: 30px;
}
.resistencia{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.castillo{
    width: 30px;
    height: 30px;
}
.bonus{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between; 
}
.cofre{
    width: 30px;
    height: 30px;
}
footer {
    background-image: url("../img/fondoverde.jpg");
    background-size: cover;
    background-position: center center;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}