* {
    box-sizing: border-box;
}

:root {
    --my-variable: red;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
}
nav {
    width: 20vw;
    height: 100vh;
    background-color: var(--my-variable);
    position: sticky;
    top: 0;
    left: 0;
}
#content {
    /* Le resto la medida del nav*/
    width: calc(100vw - 20vw);
}
header {
    width: 70vw;
    height: 20vh;
}

#bckgrnd {
    width: 70vw;
    height: 50vh;
    background-image: url(../img/principal.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    background-size: cover;
}
.card {
    background-color: var(--my-variable);
    width: 200px;
    height: 200px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.space-around {
    justify-content: space-around;
}
.startFlex {
    justify-content: flex-start;
    align-items: flex-start;
}
.spaceBetween {
    justify-content: space-between;
}
.sinGap {
    gap: 0;
    margin-top: 10px;
}
#fondoAzul {
    background-color: blue;
    color: white;
    padding: 100px;
}
#fondoImagen {
    background-image: url(../img/principal.jpg);
    
}
.medio {
    width: 50vw;
    height: 50vh;
}

a {
    color: white;
}

a:link {
    color: white;
}

a:visited {
    color: blue;
}

a:hover {
    font-size: 2rem;
    color: orange;
}
a:active {
    color: green;
}
a[href="#"] {
    font-size: 2rem;
    color: yellow;
    background-color: blueviolet;
}