/* INICIAL */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

/* ---------------------------------------------------------------------------- */
.contenedor {
    width: 900px;
    height: 700px;
    background-color: crimson;
    display: flex;
    justify-content: center;
}

#spidey {
    transform: translateY(-70px); /* 1º Que por defecto esté 70px más arriba */
    transition-duration: 2s;
}

#spidey:hover {
    transform: translateY(-10px); /* 2º Que al hacer hover sobre el div baje a su posición inicial */
    transition-duration: 2s;
}


#spidey:active { /* 3º Que al pulsar el div contenedor, se realice una animación de balanceo (rotar y moverse) */
    animation: animacion2 3s infinite;
    transform-origin: top center;
}

@keyframes animacionrotate {
    0% {
        transform: rotate(-20deg)
    }
    100% {
        transform: rotate(20deg)
    }
}

@keyframes animaciontranslation {
    0% {
        transform: translateX(-100px)
    }
    100% {
        transform: translateX(100px)
    }
}