/* INICIAL */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* ---------------------------------------------------------------------------- */
.contenedor {
    width: 900px;
    height: 700px;
    background-color: crimson;
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
    display: block;
}

#spidey {
    max-width: 100%;
    display: block;
    transform: translateY(-70px); /* 1º Que por defecto esté 70px más arriba */
    transition-duration: 2s;
}

.contenedor:hover #spidey {
    transform: translateY(-10px);/* 2º Que al hacer hover sobre el div baje a su posición inicial */
    transition: transform 0.4s;
}

.contenedor:active #spidey { /* 3º Que al pulsar el div contenedor, se realice una animación de balanceo (rotar y moverse) */
    transform: translateY(-10px);
    animation: oscilar 6s infinite;
    transform-origin: center top;
}

@keyframes oscilar {
    from {
        transform: rotate(0deg) translateY(-30px);
        animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
        filter: invert(100%);
    }
    25% {
        transform: rotate(20deg) translateY(-30px);
        animation-timing-function: cubic-bezier(0.7, 0.0, 0.9, 0.7);
        filter: invert(0%);    
    }
    50% {
        transform: rotate(0deg) translateY(-30px);
        animation-timing-function: cubic-bezier(0.1, 0.3, 0.3, 1);
        filter: invert(100%);
    }
    75% {
        transform: rotate(-20deg) translateY(-30px);
        animation-timing-function: cubic-bezier(0.7, 0.0, 0.9, 0.7);
        filter: invert(0%);
    }
    to {
        transform: rotate(0deg) translateY(-30px);
        filter: invert(100%);
    }
}